// Bootstrap global settings
$enable-grid-classes: false;
$enable-important-utilities: false;
$transition-collapse: height .15s ease;
$blockquote-footer-font-size: inherit;

// Buttons
$ig-btn-padding-y: 0.9em;
$ig-btn-padding-x: 1.5em;
$ig-btn-fa-padding-y: 1.2em;
$ig-btn-fa-padding-x: 1.4em;
$ig-btn-width: 14em;

// fonts
$ig-font-family-primary: sans-serif;
$ig-font-family-secondary: sans-serif;

// Colors
$ig-text-color: #333;
$ig-primary-color: #ac380a;
